name: Release
on:
  push:
    branches:
      - 'EPMDJ-8073'

jobs:
  release:
    if: "!contains(github.event.commits[0].message, '[skip ci]')"
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 20
      - run: git fetch
      - id: semver_kind
        uses: actions/github-script@0.9.0
        with:
          result-encoding: string
          script: |
            const branch = '${{ github.ref }}'.substring(11);
            return branch.startsWith('release/') ? 'patch' : 'prerelease';
